@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Source+Serif+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: normal 16px sans-serif;
    color: #555;
    scroll-behavior: smooth !important;
}

ul, nav {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
}

a:hover {
    opacity: 1;
}

a.btn {
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #2196F3;
    font-weight: 800;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 125px 100px;
}

@media (max-width: 1000px) {
    section {
        padding: 100px 50px;
    }
}

@media (max-width: 600px) {
    section {
        padding: 80px 30px;
    }
}

section h3.title {
    color: #414A4F;
    text-transform: capitalize;
    font: bold 32px 'Open Sans', sans-serif;
    margin-bottom: 35px;
    text-align: center;
}

section p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}

ul.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 35px 100px 0;
}

header h2 {
    font-family: 'Quicksand', sans-serif;
}

header nav {
    display: flex;
}

header nav li {
    margin: 0 15px;
}

header nav li:first-child {
    margin-left: 0;
}

header nav li:last-child {
    margin-right: 0;
}

@media (max-width: 1000px) {
    header {
        padding: 20px 50px;
    }
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }
    header h2 {
        margin-bottom: 15px;
    }
}

.Historia {
    background-color: #FFF;
}

.Historia .grid li {
    padding: 20px;
    height: 350px;
    border-radius: 3px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: #333;
}


.Historia .grid li.small {
    flex-basis: 40%;
}

.Historia .grid li.large {
    flex-basis: 60%;
}

@media (max-width: 1000px) {
    .Historia .grid li.small,
    .Historia .grid li.large {
        flex-basis: 100%;
    }
}



.Inicio {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
}

.Inicio .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #2196F3;
    z-index: -1;
}

.Inicio .background-image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #414A4F;
    opacity: 0.75;
}

.Inicio h1 {
    font: normal 28px 'Open Sans', sans-serif;
    margin-bottom: 40px;
}

.Inicio a.btn {
    padding: 20px 46px;
}

@media (max-width: 800px) {
    .Inicio {
        min-height: 600px;
    }
    .Inicio h1 {
        font-size: 48px;
    }
    .Inicio h3 {
        font-size: 24px;
    }
    .Inicio a.btn {
        padding: 15px 40px;
    }
}



footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FFF;
    background-color: #414A4F;
    padding: 60px 0;
}

footer ul {
    display: flex;
    margin-bottom: 25px;
    font-size: 32px;
}

footer ul li {
    margin: 0 8px;
}

footer ul li:first-child {
    margin-left: 0;
}

footer ul li:last-child {
    margin-right: 0;
}

footer p {
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
}

footer p a {
    color: #FFF;
}

@media (max-width: 700px) {
    footer {
        padding: 80px 15px;
    }
}

.Servicio {
    background-color: #F7F7F7;
}

.Servicio .grid li {
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}

.Servicio .grid li i {
    font-size: 50px;
    color: #2196F3;
    margin-bottom: 25px;
}

.Servicio .grid li h4 {
    color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

.Servicio .grid li p {
    margin: 0;
}

@media (max-width: 1000px) {
    .Servicio .grid li {
        flex-basis: 70%;
        margin-bottom: 65px;
    }
    .Servicio .grid li:last-child {
        margin-bottom: 0;
    }
}

.Unete {
    background-color: #F7F7F7;
}

.Unete form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    width: 80%;
}

.Unete form input {
    padding: 15px;
    flex: 1;
    margin-right: 30px;
    font-size: 18px;
    color: #555;
}

.Unete form .btn {
    padding: 18px 42px;
}

@media (max-width: 800px) {
    .Unete form input {
        flex-basis: 100%;
        margin: 0 0 20px 0;
    }
}


.Contacto {
    background-color: #F7F7F7;
}

.Contacto form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    width: 80%;
}

.Contacto form input {
    padding: 15px;
    flex: 1;
    margin-right: 30px;
    font-size: 18px;
    color: #555;
}

.Contacto form .btn {
    padding: 18px 42px;
}

@media (max-width: 800px) {
    .contact form input {
        flex-basis: 100%;
        margin: 0 0 20px 0;
    }
}